.signup-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: red;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    height: 400px;
    width: 400px;
    font-size: 30px;
}

.title-signup {
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-signup {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 300px;
}

.label-input-form {
    margin-top: 10px;
}

.input-signup {
    
    border-radius: 7px;
    background-color: lightgrey;
    width: 350px;
}

.message-signup-visible {
    margin-left: 10px;
    margin-top: 0px;
    font-size: 15px;
    opacity: 1;
    color: yellow;
}

.button-signup {
    width: 200px;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Arial';
    background-color: lightgrey;
    border-radius: 7px;
    padding: 3px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Oxygen', sans-serif;
    cursor: pointer;
}   

.button-signup:hover {
    background-color: darkgrey;
}

.link {
    margin-top: 0px;
    color: blue;
    font-size: 15px;
}

.link:hover {
    color:darkblue;
}