.page-container-no-background {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;    
    height: 1080px;
    background-image: linear-gradient(to bottom right, #000000, #575757);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.page-container-background {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;    
    height: 1080px;
    background-image: linear-gradient(to bottom right, #000000, #575757);
    background-repeat: no-repeat;
    background-size: cover;

}

.page-container-not-logged-in {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;    
    height: 1080px;
    background-image: linear-gradient(to bottom right, #000000, #575757);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}