.reversi-container {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.player1-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.player2-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.board-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 10px 10px 5px grey;
    background-color: red;
    height: 650px;
    width: 650px;
    border-radius: 7px;
}

.firstname-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  box-shadow: 10px 10px 5px grey;
  background-color: red;
  height: 100px;
  width: 150px;
  border-radius: 7px;

}

.secondname-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px grey;
    background-color: red;
    height: 100px;
    width: 150px;
    border-radius: 7px;
}

.avatar1-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 5px grey;
  background-color: red;
  height: 150px;
  width: 150px;
  border-radius: 7px;
  margin-top: 50px;
}

.avatar2-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 5px grey;
  background-color: red;
  height: 150px;
  width: 150px;
  border-radius: 7px;
  margin-top: 50px;
}

.header {
    margin-bottom: 0px;
    margin-top: 0px;    
}

.name-turn-text {
  margin-left: 100px;
}

.text {
    align-self: center;
    margin-bottom: 0px;
    margin-top: 0px; 
}

.board {
  width: 550px;
}

.board-row {
  margin-left: 35px;
}

.square {
  width: 60px;
  height: 60px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 1px;
  background-color: green;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
}

.square:hover {
  background-color: rgb(57, 134, 57);
  cursor: pointer;
}

.stone {
  height: 30px;
  width: 30px;
}

.reversi-button {
  margin-top: 10px;
  border-radius: 7px;
  background-color: lightgrey;
}

.call-winner {
  margin-bottom: 10px;
  color: yellow;
}

.image {
  height: 120px;
  width: 120px;
  border-radius: 7px;
}