.chat-container {
    margin-top: 200px;
    box-shadow: 10px 10px 5px grey;
    background-color: red;
    height: 320px;
    width: 1000px;
    border-radius: 7px;
}

.messageandname-box {
    display: flex;
}

.message-box {
    border-radius: 7px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: lightgray;
    width: 850px;
    height: 200px;
    border: 10px;
    border-color: black;
    overflow: auto;
}

.name-box {
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 7px;
    width: 200px;
    height: 200px;
    background-color: lightgray;
}

.message-right {
    text-align: end;
    margin-right: 10px;
    font-size: 17px;
    color: purple;
}

.message-left {
    text-align: start;
    margin-left: 10px;
    font-size: 17px;
    color: blue;
}

.inputandbutton-container {
    margin-top: 20px;
    border-radius: 7px;
    width: 1000px;
    height: 70px;
}

.message-input {
    border-radius: 7px;
    margin-left: 20px;
    width: 755px;
    height: 50px;
}

.send-button {
    border-radius: 7px;
    margin-left: 20px;
    width: 180px;
    height: 55px;
}